@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
  background-color: rgb(250, 160, 236);
}

::-webkit-scrollbar-thumb {
  background-color: #7100d3;
  border-radius: 8px;
}

nav {
  height: 50px;
  background-color: #1A0315;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25px;
}

.logo {
  font-size: 35px;
  position: absolute;
  left: 12px;
  text-shadow: 0 0 7px #3005ec,
    0 0 10px #2419be,
    0 0 21px #1b46c7,
    0 0 42px rgb(23, 108, 255),
    0 0 82px rgb(20, 93, 253),
    0 0 92px rgb(47, 17, 243),
    0 0 102px rgb(65, 4, 235),
    0 0 151px rgb(66, 66, 194);
}

.logo a {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-decoration: none;
}

.sidebar {
  background-color: #7100d3;
  color: white;
  position: absolute;
  right: 0;
  top: 50px;
  height: calc(100% - 50px);
  padding-top: 13px;
  width: 80px;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar:hover {
  width: 140px;
}

.sidebar:hover .menu {
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.sidebar:hover .btnName {
  opacity: 1;
}

.sidebar .menu {
  padding: 5px 0px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
}

.sidebar .menu:hover {
  background-color: #1A0315;
}

.sidebar .icons {
  font-size: 30px;
}

.sidebar .btnName {
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.sidebar .footer {
  position: absolute;
  bottom: 10px;
}

.sidebar .footer a {
  color: white;
  text-decoration: none;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}

.sidebar .footer img {
  height: 35px;
  /* display: block; */
  margin: 8px 0;
  margin-right: 2px;
}

.wrapper {
  background-image: linear-gradient(to right, rgb(116, 215, 248), #9e2eff, rgb(250, 160, 236));
  min-height: calc(100vh - 50px);
}


.container {
  /* background-color: #7e3975; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
}

.dept {
  font-family: 'Playfair Display', serif;
  color: white;
}

.accordian {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #030303;
  color: white;
  min-height: 60px;
  width: 75%;
  max-width: 500px;
  border-radius: 17px;
  justify-content: center;
  font-size: 23px;
  margin: 20px 0 0 0;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.accordian-border {
  border-radius: 17px 17px 0 0;
}

.accordian:active .accordianItem {
  max-height: 30px;
}

.accordian .subject-name {
  padding-left: 35px;
}

.accordian .icons {
  position: absolute;
  right: 45px;
}

.accordianItem {
  background-color: white;
  color: black;
  border-radius: 0 0 10px 10px;
  width: 75%;
  max-width: 500px;
  transition: all 0.2s ease;
  padding: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.inner-accordian {
  padding-left: 45px;
  /* background-color: red; */
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}

.inner-accordian .icons {
  padding-right: 72px;
}

.inner-accordian .row {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.innerRow {
  background-color: rgba(0, 0, 255, 0.457);
  width: 65%;
  margin: 10px 0 10px 35px;
  border-radius: 7px;
  padding: 5px;
  text-align: center;
}

.linkElement a {
  text-decoration: none;
  color: #030303;
}

/* Add Button */
.addBtn {
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  top: 0;
}

.blur {
  height: 100vh;
  max-width: 100vw;

}

.add-wrapper {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 100px;
}

.btn {
  background-color: #7000d3;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  color: #fff;
}

.btn:active {
  animation: rotate 0.2s linear;
}



.menu-element {
  color: #fff;
  margin: 22px 0;
  padding: 15px 50px;
  width: 80px;
  height: 40px;
  font-size: 18px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
}

.blur .menu-element {
  animation: opacity 0.5s linear;
}

.custom-btn {

  /* padding: 10px 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  /* background: transparent; */
  cursor: pointer;
  /* transition: a 0.3s ease; */
  position: relative;
  /* display: inline-block; */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
  font-size: 22px;
}

/* 2 */
.btn-2 {
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50%;

}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 2px 2px 3px 0 rgba(0, 0, 0, .4);
}

.btn-2:active {
  animation: rotate 0.2s linear;
}

@media screen and (max-width: 500px) {
  nav {
    font-size: 20px;
  }

  .logo {
    font-size: 25px;
  }

  .sidebar {
    width: 50px;
  }

  .sidebar .icons {
    font-size: 25px;
  }

  .sidebar .menu {
    height: 45px;
    width: 30px;
  }

  .sidebar .footer img {
    height: 25px;
  }

  .dept {
    font-size: 25px;
  }

  .wrapper {
    background-image: linear-gradient(50deg, rgb(116, 215, 248), #9e2eff);
  }

  .container {
    width: 90vw;
  }

  .accordian {
    font-size: 18px;
    width: 85%;
  }

  .accordian .subject-name {
    padding-left: 15px;
  }

  .accordian .icons {
    right: 20px;
  }

  .accordianItem {
    width: 85%;
  }

  .inner-accordian {
    font-size: 16px;
    padding-left: 30px;
  }

  .inner-accordian .icons {
    padding-right: 30px;
  }

  .innerRow {
    margin-left: 10%;
    width: 75%;
  }

  .add-wrapper {
    right: 5px;
    width: 80px;
  }

  .btn {
    width: 50px;
    height: 50px;
  }

  .menu-element {
    width: 70px;
    height: 40px;
    font-size: 18px;
    padding: 5px 42px;
  }

  .blur .menu-element {
    animation: opacity 0.3s linear;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(160deg);
  }
}